.Navbar {
    position: sticky;
    top:0;
    left:0;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    align-items: center;
    background-color: lightseagreen;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.457);
    z-index: 1;
}

.logo_title{
    display: flex;
    gap: 10px;
}

.logo {
    width: 3.5rem;
}

.title, .log_out {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 2px rgb(254, 0, 174);
}

.Navbar__list {
    display: flex;
    gap: 20px;
    list-style: none;
}

.Navbar__list li {
    cursor: pointer;
}

.Navbar__list li:hover {
    opacity: 60%;
    transform: scale(1.08);
}

/* .log_out {
    color: rgb(15, 15, 15);
} */
